<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title> 
  <h2>Books Details</h2>
</head>

<body>

<!-- <form action="submit_book_details.php" method="post">
  <label for="title">Book Title:</label><br>
  <input type="text" id="title" name="title" required><br><br>

  <label for="author">Author Name:</label><br>
  <input type="text" id="author" name="author" required><br><br>

  <label for="genre">Genre:</label><br>
  <input type="text" id="genre" name="genre" required><br><br>

  <label for="pub_date">Publish Date:</label><br>
  <input type="date" id="pub_date" name="pub_date" required><br><br>

  <label for="isbn">ISBN Number:</label><br>
  <input type="text" id="isbn" name="isbn" required><br><br>

  <label for="description">description:</label><br>
  <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

  <input type="submit" value="Submit Book Details">
</form> -->

</body>
</html>

